.cta > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #163963;
    text-align: center;
    padding: 40px 60px;
}

.cta a {
    color: #F6B527;
    text-decoration: underline;
    background: none;
    font-size: var(--body-font-size-l);
}

.cta a.button {
    background-color: #fff;
    color: #163963;
    margin: 0;
    border-radius: 3px;
}

.cta .button-container {
    padding: 0;
    margin: 0;
}
