.table {
    width: 100%;
    overflow-x: auto;
    border: 1px solid rgb(34 36 38 / 15%);
    border-radius: 10px;
}
  
.table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--body-font-size-s);
}

.table table thead tr {
    background-color: #f9fafb;
    border-top: 1px solid rgb(34 36 38 / 15%);
    border-bottom: 1px solid rgb(34 36 38 / 15%);
}
  
.table table tbody tr {
    border-bottom: 1px solid rgb(34 36 38 / 15%);
}

.table table tbody tr:nth-child(2n) {
    background-color: #f9fafb;
    border-bottom: 1px solid rgb(34 36 38 / 15%);
}

.table table tbody tr:hover,
.table table tbody tr:nth-child(2n):hover {
    background-color: #e0e0e0;
}
  
.table table th {
    font-weight: 700;
}
  
.table table th, .table table td {
    padding: 8px 16px;
    text-align: left;
}
  
.table table a {
    color: #163963;
}

.table.searchable table thead tr:first-child {
    width: 100vw;
    text-align: right;
}

.table.searchable table thead tr:first-child th {
    width: 100vw;
   
}

.table.searchable table thead tr:first-child th input {
    float: right;
    width: 165px;
    margin: 0;
    padding: 5px;
    font-size: var(--body-font-size-s);
    border: 1px solid rgb(34 36 38 / 15%);
}