body {
  background-color: #f9f9f9;
}

.event-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .event-list {
    width: 75vw;
  }

  .event-list .month {

  }

  .event-list .month h2 {
    margin-top: 50px;
    text-transform: capitalize;
  }

  .event-list .month .events {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 25px;
  }

  .event-list .month .events h3 {
    padding: 27px 9px;
    background-color: #fff;
    font-size: var(--heading-font-size-s);
  }
}