footer {
  padding: 2rem;
  margin-top: 40px;
  color: #fff;
  background-color: #000;
  font-size: var(--body-font-size-xs);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: #fff;
}

@media (min-width: 900px) {

}