/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: ETmodules;
  font-display: swap;
  src: url('/fonts/modules.ttf');
  font-weight: 400;
  font-style: normal
}

:root {
  /* colors */
  --link-color: #666;
  --link-hover-color: #666;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --dark-background-color: #163963;
  --text-color: #3A3B3B;

  /* fonts */
  --body-font-family: 'Public Sans', helvetica, arial, lucida, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 26px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

/* @media (min-width: 900px) {
  :root {
    --body-font-size-l: 25px;
    --body-font-size-m: 22px;
    --body-font-size-s: 18px;
    --body-font-size-xs: 14px;
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
} */

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

body header {
  height: 401px;
}

@media (min-width: 900px) {
  body header {
    height: 254px;
  }
}

.left-rail {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

main {
  padding: 0;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-l)
}

h2 {
  font-size: var(--heading-font-size-m)
}

h3 {
  font-size: var(--heading-font-size-m)
}

h4 {
  font-size: var(--heading-font-size-s)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

main div[class="section"] > .default-content-wrapper > :is(h1, h2, h3, h4) {
  width: 100%;
  border-bottom: 2px solid black;
}

main div.section > .default-content-wrapper > :is(h1, h2, h3, h4):has(em) {
  border-bottom: 0;
}

main div.section > .default-content-wrapper > :is(h1, h2, h3, h4) > em {
  font-style: normal;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.primary,
button.primary {
  margin: 16px 0;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 15px 32px 0;
}

main .section:first-of-type {
  padding-top: 30px;
}

main .section.full-width {
  padding: 0;
  width: 100%;
}

main .section.darkgraybg {
  background-color: #3a3b3b;
  color: #fff;
}

main .section.bluebg {
  background-color: #badaed;
}

main .section.lightbluebg {
  color: #fff;
  background-color: #6cc5ea;
}

main .section:is(.darkgraybg, .bluebg, .lightbluebg) .button.primary {
  color: #fff;
  background-color: var(--dark-background-color);
}

main .section.darkbluebg {
  background-color: #163963;
  color: #fff;
  padding-bottom: 15px;
}

@media (min-width: 900px) {
  main .section.as-columns {
    column-count: 2;    
    column-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  main .section.as-columns > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    break-inside: avoid-column;
    margin-bottom: 25px;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@media (min-width: 900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

body.nav-menu .left-rail h4 {
  font-size: var(--body-font-size-s);
  border: 0;
}

body.nav-menu .left-rail ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body.nav-menu .left-rail ul li {
  min-height: 30px;
}

body.nav-menu .left-rail ul ul li {
  margin-left: 10px;
}

body.nav-menu .left-rail a {
  font-size: var(--body-font-size-xs);
  line-height: 10px;
}

body.nav-menu .left-rail a:hover {
  color: #2ea3f2;
  text-decoration: none;
}

@media (min-width: 900px) {
  main, .left-rail {
    padding: 0;
  }

  body.nav-menu {
    display: grid;
    grid-template: 
      "header header"
      "left main"
      "footer footer";
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
  }

  body.nav-menu header {
    /* height: var(--nav-height); */
    grid-area: header;
  }

  body.nav-menu .left-rail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: left;
    position: relative;
  }

  body.nav-menu .left-rail > div{
    width: 195px;
    max-width: 195px;
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
  }

  body.nav-menu main {
    grid-area: main;
    max-width: 800px;
  }

  body.nav-menu footer {
    grid-area: footer;
  }
}